.aperture {
    background-image: url(/img/aperturebackgr.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__text-head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #C0C0C0;
    }

    &__ul {
        display: flex;
        margin-left: 470px;

        li {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
        }

        ul {
            margin-right: 55px;
        }
    }

    &__head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #C0C0C0;
    }

    &__row {
        display: flex;
        padding-top: 92px;
    }

    &__line {
        margin-top: 36px;
    }

    &__head-last {
        margin-top: 36px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__text-last {
        margin-top: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #C0C0C0;
    }

    input {
        padding-left: 10px ;
        margin-top: 40px;
        height: 52px;
        width: 458px;
        border-radius: 12px;
        background: #F9FAFB;
        border: 1px solid #E5E7EB;
        margin-left: 430px;
        color: blue;
        transform: 0.9s;
        box-shadow: inset 5px 3px 10px #000;
        border: 0;
        outline: 0;
    }

    input:active{
        background-image: linear-gradient(blue, rgb(81, 81, 255), rgb(0, 179, 255));
    }

    input:hover{
        background-color: orange;
        color: #FFFFFF;
    }

    &__content {
        display: flex;
    }

    &__add{
        display: flex;
        align-items: center;
        margin-top: 56px;
        padding-bottom: 100px;
    }

    &__add-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #C0C0C0;
    }

    &__img-img{
        margin-left: 646px;
        display: flex;
        img{
            padding: 0 20px;
        }
    }
}