.card {
    background-image: url(/img/backcard.png);
    background-repeat: no-repeat;
    background-size: cover; 

    &__content {
        display: flex;
        gap: 16px;
        margin-top: 42px;
    }

    &__one {
        background-image: url(/img/w1.png);
        background-repeat: no-repeat;
        width: 576px;
        height: 600px;
    }

    button {
        display: flex;
        align-items: center;
        height: 42px;
        width: 143px;
        border-radius: 14px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #000000;
        border: 0;
        margin-left: 30px;
        margin-top: 16px;
    }

    &__title {
        padding-top: 112px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 42px;
        text-align: center;
        color: #FFFFFF;
    }

    &__head {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 30px;
        text-align: center;
        color: #C0C0C0;
        margin-top: 15px;
    }

    &__content-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 30px;
        padding-top: 401px;
    }

    &__content-text {
        height: 80px;
        width: 501px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #C0C0C0;
        padding-left: 30px;
    }

    &__two {
        background-image: url(/img/w2.png);
        background-repeat: no-repeat;
        width: 576px;
        height: 600px;
    }

    &__btn-img {
        margin-left: 5px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &__content-two {
        margin-top: 16px;
        display: flex;
        gap: 16px;
        padding-bottom: 100px;
    }

    &__three {
        background-image: url(/img/w3.png);
        background-repeat: no-repeat;
        width: 576px;
        height: 600px;
    }

    &__four {
        background-image: url(/img/w4.png);
        background-repeat: no-repeat;
        width: 576px;
        height: 600px;
    }
}